@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');
@import './base.css';
@import './game.css';
/* @import './progress-bar.css'; */ /* Progress bar removed for now */
@import './ftue-modal.css';

